body{
    background-color: #20310F;
    background-color: rgb(25, 59, 7);
    color: white;
    font: serif;
}

#usernameblock{
  position: absolute;
  z-index: -2;
  opacity: 0;
  width: 100%;
  text-align: center;  
  height: 500px;
}

.btn-green{
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  background-color: #08A955;
  color: white;
}


#nameblock{
  position: absolute;
  z-index: -2;
  opacity: 0;
  width: 100%;
  text-align: center;  
  height: 500px;
}

#surnameblock{
  position: absolute;
  z-index: -2;
  opacity: 0;
  width: 100%;
  text-align: center;  
  height: 500px;
}

table, th, td {
  border: 1px solid;
}

#contactnumberblock{
  position: absolute;
  z-index: -2;
  opacity: 0;
  width: 100%;
  text-align: center;  
  height: 500px;
}

#contactnumberblock.toggled{
  position: absolute;
  z-index: 20;
  opacity: 1;
}

#addressblock{
  position: absolute;
  z-index: -2;
  opacity: 0;
  width: 100%;
  text-align: center;  
  height: 500px;
}

#addressblock.toggled{
  position: absolute;
  z-index: 20;
  opacity: 1;
}

.form-center{
  position: fixed;
  max-width: 500px;
  height: 250px;
  margin: 0 auto;
  margin-top: 250px;
  left: 0;
  right: 0;
  background-color: #095a02;
  border: solid 6px;
  border-radius: 10px;
  border-color: rgba(76, 205, 50, 0.678);
}

#usernameblock.toggled{
  position: absolute;
  z-index: 20;
  opacity: 1;
}

#nameblock.toggled{
  position: absolute;
  z-index: 20;
  opacity: 1;
}

#surnameblock.toggled{
  position: absolute;
  z-index: 20;
  opacity: 1;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none; /* Hidden by default */
}

#overlay.toggled{
  display: block;
}

.editimg{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.formstyle{
  color: white;
  background-color:#0d0000;
}

.nightmode{
  color: rgb(250, 250, 250);
  font: serif;
}
  