body{
    background-color: #20310F;
    background-color: rgb(25, 59, 7);
    color: white;
    font: serif;
}

#navbarbg{
    background-color: rgb(29, 80, 2);
}

.nav-link{
    font-size: 20px;
    color:white;
}

.nav-link:hover{
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.nav-link2{
  text-decoration:none;
  font-size: 26px;
  color:white;
}

.nav-link2:hover{
  font-size: 26px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.nav-link3{
  text-decoration:none;
  font-size: 20px;
  color:white;
}

.nav-link3:hover{
  font-size: 22px;
  color: black;
  cursor: pointer;
  font-weight:400;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  margin-bottom: 2px;
  margin-left: 5px;
}

.shoparrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  margin-bottom: 2px;
  margin-left: 5px;
}

.aboutarrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  margin-bottom: 2px;
  margin-left: 5px;
}

.plantcare2{
  position: absolute;
  opacity: 0;
  transform: translateX(-100%);
}

.toggled-navlist{
  position: relative;
  opacity: 1;
  transition: 0.5s;
  transform: translateX(0%);
  text-decoration: underline;
}

.dropdownplantcare{
  display: none;
  position: absolute; 
  background-color: green; 
  width: 180px; 
  height: 75px; 
  border-radius: 0px 0px 0px 0px;
}

.dropdownabout{
  display: none;
  position: absolute; 
  background-color: green; 
  width: 180px; 
  height: 60px; 
  border-radius: 0px 0px 0px 0px;
}

.dropdownshop{
  display: none;
  position: absolute; 
  background-color: green; 
  width: 180px;
  height: auto; 
  border-radius: 0px 0px 0px 0px;
}

.dropdownplantcare-toggled{
display: block;
}

.dropdownabout-toggled{
  display: block;
  }

.dropdownshop-toggled{
  display: block;
  }

  .dropdown-library{
    display: none;
  }
  
  .dropdown-library-toggled{
    display: block;
  }

.right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.right-toggled {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav-list{
  color:white;
  text-decoration: none;
}

.nav-list:hover{
  color: black;
  cursor: pointer;
}

.list-group-item{
  color: white;
  background-color: #004100;
}

.navbar-center1{
    display: flex;
    height: 150px;
    width: 100%;
    background-color: black;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.navbar-toggler{
  background-color: rgb(102, 255, 0);
}

#navbarbtn{
    width: 60px; 
    height: 60px;
}
#logoimg{
    margin-right: 20px;
}

.navimage{
    width: 60px;
    height: 60px;
}

.navbarend{
    position: relative;
    align-items: end;
}

.navbar-list{
  position: absolute; 
  top: 0;
  left: 0; 
  margin: auto; 
  z-index: 0;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  background-color: #007500;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-100%);
  border: solid 2px;
  border-color: #f9ffc5;
  border-radius: 0px 1px 1px 0px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
  
  .toggled{
    position: fixed; 
    opacity: 1;
    z-index: 2;
    transition: 0.5s;
    transform: translateX(0%);
  }
  .overformbtn{
    position: relative;
    font-size: 40px;
    margin-right: 20px;
  }

  .homepageblock{
    position: relative;
    width: 100%; 
    height: 700px;
    display: grid;
  }

  .dirtborder{
    background-color: #585D61;
    max-height: 600px;
    width: 100%;
    max-width: 2200px;
    margin: 0 auto; 
  }

  .center{
    position: relative;
    text-align: center;
    top: 30%;
    margin: 0 auto;
    max-width: 1000px;
    color: rgb(255, 255, 255);
    isolation: isolate;
  }

  .smallfont{
    font-size: 15px;
  }

  .category-header{
    padding-left: 40px; 
    margin-top: 20px;
  }

  .plant-scroller{
    display: grid;
    gap: 15px;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    background-color: #0e3800;
    padding: 40px;
    padding-top: 20px;
    
  }

  .plant-item{
    max-width: 100%;
    text-align: start;
    background-color: #3ea05c60;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
  }

  .content-size{
    height: 125px;
    width: 200px;
    border-radius: 15px;
  }

  .plant-scroller::-webkit-scrollbar {
    width: 10px;
  }

  .plant-scroller::-webkit-scrollbar-track {
  background: #00330e;
}

/* Handle */
.plant-scroller::-webkit-scrollbar-thumb {
  background: #005a00;
  border-radius: 13px;
}

/* Handle on hover */
.plant-scroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transform: translateY(7%);
  z-index: 1;
  height: 272px;
}

.left-btn {
  position: absolute;
  left: 0;
}

.right-btn {
  position: absolute;
  right: 0;
}

/* Hide buttons when they are not visible */
.scroll-btn:disabled {
  display: none;
}

.waterimg-block{
  width: 100%; 
  max-height: 500px;
}

.waterimg{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 500px;
}
  